body{
    background-color: azure;
}
h1{
    text-align: center;
    color: #427abd;
    font-size: 70px;
}
h2{
    text-align: center;
    color: darkslategray;
    font-size: 50px;
}
h3{
    color: darkslategray;
    font-size: 40px;
}
p{
    font-size: 30px;
}

img{
    border-radius: 50%;
}
.dback{
    background-color: aquamarine;
}
.center{
    text-align: center;
}
.font_40{
    font-size: 40px;
}
button{
    font-size: 45px;
}
#darkmode{
    background-color:#3f3434;
    color: #b6e6e6;
}
#whitemode{
    background-color: azure;
    color: darkslategray;
}
#EsconInfo{
    font-size: 30px;
}
#MostInfo{
    font-size: 30px;
}