*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding-bottom: 10rem;
    background-color: aliceblue;
    
}
h2{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #1f1d1d;
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #1f1d1d;
}
hr{
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #00C2FF;
}


.container{
    display: flex;
    flex-direction: column;

    align-items: center

}
.painted_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #78DFFF;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;

    border-style: solid;
    border-color: #00C2FF;

}
.principal_info{
    width: 100% ;
    max-height: 40%;
    padding: 1.3rem;

}
.principal_info .name_photo{
    display: flex;
    flex-direction: row;
}
.principal_info .name_photo img{
    max-width: 40% ;
    height: auto;
    border-radius: 999px;
    z-index: 2;

    border-style: solid;
    padding: 0.3rem;
    border-color: #66380E;
    background-color: #DBA167;
}
.principal_info .name_photo h1{
    position: relative;
    justify-content: center;
    align-self: center;
    right: 2rem;
    padding: 1rem 2rem 1rem 3.5rem;
    z-index: 1;

    font-size: 2em;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;

    background-color: #DBA167;
    color: #66380E;

    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-style: solid;
    border-color: #66380E;
}
.info_container{
    display: flex;
    flex-direction: row;

    font-family: 'Inter';
    font-style: normal;
}
.info_container h4{
    font-weight: 600;
    font-style: bold;
}

.info_container p{
    font-weight: 400;

    padding-left: 1rem;
    padding-top: 0.2rem;
}
.carac_container{
    padding: 1.3rem;
}
.fixed_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    
    width: 100%;
    padding: 1.5rem;
    max-height: 18%;

    background-color:#78DFFF;
    border-style: solid;
    border-color: #00C2FF;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.fixed_area #dark_and_white_mode {
    color: #FEFCF8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;

    background-color: #5A5757;
    border-style: solid;
    border-color: #6D6D6D;
    border-radius: 999px;
}

.fixed_area #button_update{
    color: #66380E;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;

    background-color: #DBA167;
    border-style: solid;
    border-color: #6D6D6D;
    border-radius: 999px;
}

@media screen and (min-width: 1200px){
    h4{
        font-size: 25px;
    }
    p{
        font-size: 25px;
    }
    h2{
        font-size: 30px;
    }
    .principal_info .name_photo h1{
        font-size: 4em;
    }
    .principal_info{
        padding: 2.5rem;
        max-width: 60%;
    }
    .carac_container{
        max-width: 45%;
        padding: 2.5rem;
    }
    .fixed_area #dark_and_white_mode{
        font-size: 1.5rem;
        padding: 1rem 1.8rem;
        margin-left: 0.7rem;
    }
    .fixed_area #button_update{
        font-size: 1.5rem;
        padding: 1rem 1.8rem;
        margin-right: 0.7rem;
    }
}

@media screen and (max-width: 1199px){
    h4{
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    h2{
        font-size: 25px;
    }
    .principal_info .name_photo h1{
        font-size: 3em;
    }
    .principal_info{
        padding: 2rem;
        max-width: 65%;
    }
    .carac_container{
        max-width: 65%;
        padding: 2.5rem;
    }
    .fixed_area #dark_and_white_mode{
        font-size: 1.5rem;
        padding: 1rem 1.8rem;
        margin-left: 0.7rem;
    }
    .fixed_area #button_update{
        font-size: 1.5rem;
        padding: 1rem 1.8rem;
        margin-right: 0.7rem;
    }
}

@media screen and (max-width: 920px){
    h4{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    h2{
        font-size: 18px;
    }
    .principal_info .name_photo h1{
        font-size: 2em;
    }
    .principal_info{
        max-width: 70%;
        padding: 1.3rem;
    }
    .carac_container{
        max-width: 70%;
        padding: 1.3rem;
    }
    .fixed_area #dark_and_white_mode{
        font-size: 1.5rem;
        padding: 1rem 1.8rem;
        margin-left: 0.7rem;
    }
    .fixed_area #button_update{
        font-size: 1.5rem;
        padding: 1rem 1.8rem;
        margin-right: 0.7rem;
    }
}

@media screen and (max-width: 570px){
    h4{
        font-size: 15px;
    }
    p{
        font-size: 15px;
    }
    h2{
        font-size: 18px;
    }
    .principal_info .name_photo h1{
        font-size: 1.2em;
    }
    .principal_info{
        max-width: 80%;
        padding: 1.3rem;
    }
    .carac_container{
        max-width: 80%;
        padding: 1.3rem;
    }
    .fixed_area #dark_and_white_mode{
        font-size: 1rem;
        padding: 1rem 1.8rem;
        margin-left: 0.7rem;
    }
    .fixed_area #button_update{
        font-size: 1rem;
        padding: 1rem 1.8rem;
        margin-right: 0.7rem;
    }
}